.Main {
    width: 100%;
    min-height: calc(100vh - 250px);
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1 0 auto;
}
.LabelPostDiv {
    margin-top: 30px;
    width:70%;
    box-shadow: 0px 10px 10px -15px #111;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.LabelPostDiv label{
    font-size: 30px;
    margin-bottom: 5px;
}
.CategoryPostList {
    margin-top: 10px;
    width:70%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.NoPosts {
    font-size: 18px;
}
