.UserInfoDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
    margin-top: 50px;
    padding: 10px 30px;
}

.Avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.InfoDiv {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-left: 50px;
}
.InfoDiv span {
    margin-bottom: 10px;
}

.Login, .FullName, .Rating {
    font-size: 20px;
}
.AdminSpan {
    font-size: 18px;
    opacity: .6;
}
